.leftTop{
    position: absolute;
    top: 100px;
    /*padding-top: 40px;*/
    /*padding-left: 10px;*/
    left: 100px;
    z-index: 5;
    display:block;
    text-align: left;
    color:rgba(12, 153, 196, 0.837);
    background:transparent;
}

.rightTop{
    position: absolute;
    top: 100px;
    right: -100px;
    z-index: 5;
    display:block;
    text-align: right;
    color: white;
}

.rightTop2{
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 5;
    display:block;
    text-align: right;
    color: white;
}

.leftTop3{
    position: absolute;
    top: 40%;
    left: 10px;
    z-index: 5;
    display:block;
    text-align: left;
    color: white;
}

.leftTop4{
    position: absolute;
    top: 80%;
    left: 10px;
    z-index: 5;
    display:block;
    text-align: left;
    color: white;
}

.leftTop5{
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 5;
    display:block;
    text-align: left;
    color: white;
}


.leftTop6{
    position: absolute;
    top: 120%;
    left: 10px;
    z-index: 5;
    display:block;
    text-align: left;
    color: white;
}
