pydicom==2.0.0.dev0
scikit_fuzzy==0.4.2
pip==19.1.1
tornado==5.0.2
numpy==1.17.3
opencv_python==3.4.8.29
dipy==1.1.1
pynetdicom==1.5.0.dev0
Django==2.2.10
django_jsonfield==1.4.0
djangorestframework==3.11.0
Pillow==7.1.2
scikit_learn==0.23.1
